h2 {
  margin-top: 20px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: 5px;
  margin: 0 auto;
  gap: 20px;
}

form>button {
  align-self: center;
}
#tripImageInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}
img{
  aspect-ratio: 16/9;
  width: clamp(100px, 80%, 1000px);
  object-fit: cover;
  align-self: center;
  margin-bottom: 10px;
}
.pref{
  border: 5px solid indigo;
  border-radius: 5px;
}
