img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  align-self: center;
  border-radius: 10px;
}
.list-elem {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: clamp(0px, 10px, 20px);
}
